//[颜色]
//前景色
@fr-color:#5C5D52;
@strong-fr-color:#191A13;
//背景色
@bg-color:#F0F3F3;
//边框色
@bdr-color:#9A9B94;
@strong-bdr-color:#191A13;
//阴影色
@shadow-color:#8AD3D8;

@hd-fr-color:#fcfce3;
@hd-bg-color:#001187;
@hd-bdr-color:#191A13;
@panel-bdr-color:#0B3BCF;
@bd-fr-color:#5C5D52;
@bd-bg-color:#F7F2EC;
@ft-fr-color:#191A13;
@ft-bg-color:#F7F2EC;

@input-bdr-color:#146A6A;
@input-input-color:#F7F2EC;
@input-focus-color:#FEFBFA;
@input-fr-color:#5C5D52;
@input-bg-color:#d3d6cd;

@default-color:#d3d6cd;
@error-color:#7F0000;
@success-color:#017B4A;
@warn-color:#E47600;
@primary-color:#000088;

@error-light-color:#EA002C;
@success-light-color:#00CA76;
@warn-light-color:#FFD000;
@primary-light-color:#4479F0;
