.grid-view {
  display: table-row;
}
.grid-view > .grid-view-frozen {
  display: table-cell;
  margin: 0;
  padding: 0;
}
.grid-view > .grid-view-scrollable {
  display: table-cell;
  margin: 0;
  padding: 0;
}
.grid-view .grid-view-cell {
  position: relative;
  margin: 0;
}
.grid-view .grid-column-resizer {
  width: 1px solid #191A13;
  font-size: 1px;
  position: absolute;
  top: 0;
  right: 0;
}
.grid-view table {
  border: 1px solid #9A9B94;
  border-collapse: collapse;
}
.grid-view table th {
  background-color: #001187;
  color: #fcfce3;
  font-weight: bold;
  border: 1px solid #191A13;
  border-collapse: collapse;
}
.grid-view table th * {
  color: #fcfce3;
  font-weight: bold;
}
.grid-view table td {
  background-color: #F7F2EC;
  color: #5C5D52;
  border: 1px solid #9A9B94;
  border-collapse: collapse;
}
.grid-view table td * {
  color: #5C5D52;
}
