//.gen-layout 生成跟veiwport布局相关用的css:.layout,.layout-limited,row,props-row,col-*-n,*-hidden
//.gen-cols 生成固定布局用的css:cols-n

.gen-layout(
    @viewport,//视图类型
    @col-count,//栅栏列数量
    @max-width,//最大行宽
    @min-row-width,//最小行宽
    @font-size,
    @padding
  
){
    .all{
        font-size:@font-size;
        margin:0;
        padding:0;
        box-sizing: border-box;
        background-color:transparent;
    }
    *:extend(.all){}

    html:extend(.all),body:extend(.all){}

    //最外层的layout,控制宽度用
    .container{
        margin:0;
        padding:0;
        width:100%;
        box-sizing: border-box;   
        clear:both;
    }
    .container-limited:extends(.container){
        max-width:@max-width;
    }
 
    .layout{
        padding:0;
        border:0;
        margin:0;
        width:100%;
        font-size:0;
        clear:both;
       
    }

    .spacing-layout{
        .layout;
    }
    
    .props-row{
        min-width:@min-row-width;
    }
    .@{viewport}-hidden{
        display: none;
    }
    .gen-viewport-cols(@viewport,@layout, @col-count,@padding,@i: 1) when (@i <= @col-count) {
        .@{layout} > .@{viewport}-cols-@{i} {
          width: (@i * 100% / @col-count);
          display: inline-block;
          border:0 !important;
          margin:0 !important;
          box-sizing: border-box !important;
          padding:@padding;
        }
        
        .gen-viewport-cols(@viewport,@layout,@col-count,@padding, (@i + 1));
    }
    .gen-viewport-cols(@viewport,layout,@col-count,0);
    .gen-viewport-cols(@viewport,spacing-layout,@col-count,@padding);

    .gen-cols( @col-count,@layout,@padding,@i: 1) when (@i <= @col-count) {
        .@{layout} > .cols-@{i} {
            width: (@i * 100% / @col-count);
            display: inline-block;
            border:0 !important;
            margin:0 !important;
            box-sizing: border-box;
            padding:@padding;
        }
        .gen-cols(@col-count,@layout,@padding, (@i + 1));
    }
    
    .gen-cols(@col-count,layout,0);
    .gen-cols(@col-count,spacing-layout,@padding);
}
  
