//.gen-panel 生成:.penel, .penel>.head,.panel>.body,.panel>.foot
.gen-panel(
    @margin-vertical,//垂直外补
    @margin-horizen,//水平外补 
    @padding,
    @bdr-color,
    @radius
){
    .panel{
        border:0;
        padding:0;
        margin:@margin-vertical @margin-horizen;
        border-radius: @radius;
        
        & > .head{
            background-color: @hd-bg-color;
            color:@hd-fr-color;
            margin:0; 
            clear: both;
            display: block;
        }
        & > .head *{
            color:@hd-fr-color;
        }
        &>*:first-child{
            border-top:1px solid @hd-bdr-color;
            border-left:1px solid @hd-bdr-color;
            border-right:1px solid @hd-bdr-color;
            border-radius: @radius @radius 0 0 ;
            padding:@padding*1.1 @radius;
        }
        &>.body{
            background-color: @bd-bg-color;
            margin:0;
            color:@bd-fr-color;
            border-left:1px solid @bdr-color;
            border-right:1px solid @bdr-color;
            clear: both;
        }
        &>.foot{
            background-color: @ft-bg-color;
            color:@ft-fr-color;
            clear: both;
        }

        &>*:last-child{
            border-bottom:1px solid @panel-bdr-color;
            border-left:1px solid @panel-bdr-color;
            border-right:1px solid @panel-bdr-color;
            border-radius:0 0 @radius @radius ;
            padding:@padding @radius;
        }
        &:hover{
            box-shadow: 0 0 @padding/2 @padding/2 @shadow-color;
        }
        
    }
}